@charset "utf-8";


h2{
    color: #2a2c38;
    border-bottom: 2px dashed #d2b108;
    border-left: 10px solid #d2b108;
    padding-left: 7px;
}

h3{
    color: #2a2c38;
    border-bottom: 1px solid #d2b108;
    padding-left: 12px;
    padding-top: 6px;
}

.warning{
    color: white;
    background-color: red;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.darkgray{
    color: #605f55;
}
.orange{
    color: #ea8006;
}
body{
    font-family: sans-serif;
    margin: 0;
	padding: 0;
    background-image:url('../img/background.jpg');
    background-repeat:repeat;
    background-attachment: scroll;
}
p{
    font-size: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    font-size: 80%;
    list-style-type:circle;}
.catch{
	position: absolute;
    top: 80px;
	left: 20px;
    color: #2a2c38;
    text-shadow: 0px 0px 4px #ffffff;
}
footer{
text-align: right;
background-color: #d2b108;
padding: 10px;
}

nav ul{
    font-weight: bold;
    padding-top: 55px;
}
nav li{
    display: inline;
    padding-left: 10px;
    padding-right: 12px;
    border-right: 1px solid #d2b108;
}

header img{
    float: left;
}
article,header{
    position: relative;
    clear: left;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.search{
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #605f55;
    border-radius: 20px;
    list-style-image: url('../img/search.png');
}

.Character-List{
    display: flex;
    flex-wrap: wrap;       /* 折り返しを許可する設定 */
    justify-content: center; /* ★これを追加！中身を中央揃えにします */
    gap: 20px;             /* コマ同士の隙間（数値は調整してください） */
}

.CharacterIcon-img{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px #605f55;
    border-radius: 20px;
    margin: 15px;
}

.sentou{
    clear: both;
    text-align: right;
}

ol li{
	display: inline; /*並べて表示*/
	margin-right: 5px;
	font-size: 80%;
}

.Subheading{
    color: #2a2c38;
    padding-left: 15%;
    padding-bottom: 7px;
    padding-top: 5px;
    background-color: #d2b108;

}

nav ul a:link{
    color: #2a2c38;
}

nav ul a:visited{
    color: #605f55;
}

nav ul a:hover{
    color: #d2b108;
}

nav ul a:active{
    color: #ea8006;
}


/*↓profile.html用↓*/
.ProfileSection{
    margin-left: 10px;
    margin-right: 10px;
}

.Profile-img{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 3px #605f55;
    border-radius: 20px;
    margin: 15px;
    float: left;
}

.profile-th{
    width: 120px;
}

/*表の端から端までボーダーを引きたいのになぜかtdのとこしかできない。なんで？*/
tr,td{
    border-bottom: 1px solid #d2b108;
    padding: 10px;
}

article section p{
    font-family:Arial, Helvetica, sans-serif;
}
/*↓work.html用↓*/


/*notice.html用↓*/
.notice-ul li{
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #d2b108;
}

/*base.html用*/
.okurigana{
    font-size: 80%;
    color: #808080;
    text-align: left;
}

.character-overview{
    border: 2px solid #d2b108;
    border-radius: 20px;
    padding: 20px;
}

@media(max-width:1000px){
    header img {
        float:none ;
    }
    nav ul{
        text-align: left;
        padding: 0;
        margin-left: 10px;
    }
}